name: Full Test Suite

on:
  push:
    branches: [main, refactor]
  pull_request:
    branches: [main]
  schedule:
    # Weekly tests on Sunday at midnight
    - cron: "0 0 * * 0"
  workflow_dispatch:

defaults:
  run:
    # conda setup requires this special shell
    shell: bash -l {0}

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        python-version: ["3.11"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      # Setup micromamba for conda environment
      # https://github.com/marketplace/actions/setup-micromamba
      - uses: mamba-org/setup-micromamba@v1
        with:
          generate-run-shell: false  # Fix for ENOENT error
          environment-file: devtools/conda-envs/polyzymd-env.yml
          environment-name: polyzymd-env
          condarc: |
            channels:
              - conda-forge
              - defaults
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install package
        run: |
          python -m pip install . --no-deps
          micromamba list

      - name: Run tests
        run: |
          pytest -v --cov=polyzymd --cov-report=xml --color=yes tests/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          flags: unittests
          name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
          fail_ci_if_error: false  # Don't fail if codecov upload fails
